*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  @apply w-full bg-gray-100;
}

.container {
  @apply max-w-xl mx-auto;
}

a[href]:not(.never-underline):hover {
  @apply underline;
}

p {
  text-align: justify;
  text-indent: 1.5rem;
  @apply mb-2;
}

.content {
  @apply px-6;
  @apply w-full;
}

.content h4 {
  @apply text-indigo-700;
}

.content h5 {
  @apply ml-0;
}
