{# Render a link.
  link: {href, title, author}
#}
{% macro link_heading(link) %}
<h4 class="link-name" id="">
  <span class="link-marker"></span>
  <a href="{{ link.href }}">{{ link.title }}</a>
</h4>
<h5 class="link-author" id="{{ link.author | slug }}">
  <span class="auth-marker">{{ link.author  }}</span>
</h5>
{% endmacro %}