<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>{{ localData.title or title }} | {{ meta.title }}</title>
{% if env.production %}{% include "sw.njk" %}{% endif %} {% include "icons.njk" %}
<link rel="stylesheet" href="{% webpackAsset 'styles.css' %}" />
<link rel="manifest" href="/manifest.webmanifest" />

<link rel="author" href="/humans.txt" />
<meta name="author" content="{{ meta.author }}" />
<meta name="generator" content="Eleventy" />
<meta name="theme-color" content="{{ meta.theme_color }}" />
{% if description %}<meta name="description" content="{{ description }}" />{% endif %}
