<div class="title-header flex justify-center bg-gray-200 px-4 py-5 rounded full-bleed">
  <h1 class="font-semibold text-2xl sm:text-3xl lg:text-5xl">
    <a class="never-underline" href="{{ '/' | url }}">{{ meta.title }}</a>
  </h1>
</div>
