<link rel="icon" href="{{ meta.icons.root }}/favicon.ico" type="image/x-icon" sizes="77x77" />
{%- set iconTypes = ["icon", "apple-touch-icon"] -%}
{%- for rel in iconTypes %}
{% for size in meta.icons.sizes -%}
  {%- set iconUrl = meta.icons.root ~ "/touch/icon-" ~ size ~ ".png" -%}
  <link rel="{{ rel }}" href="{{ iconUrl }}" type="image/png" sizes="{{ size }}x{{ size }}" />
{% endfor -%}
{%- endfor %}