{% macro footsep() %}
<hr class="footsep mt-8 mb-4 border-none border-t h-0 overflow-visible text-gray-400">
{% endmacro %}

{% macro footerlink(adjacentPage, text) -%}
{% if adjacentPage %}
<a class="footer-link" href="{{ adjacentPage.url }}" title="{{ adjacentPage.data.description }}">{{ text }}</a>
{% else %}
<span class="footer-link invisible"></span>
{% endif %}
{%- endmacro %}

{% macro linkSeq(page, rel) %}
{% if page %}<link rel="{{ rel }}" href="{{ page.url }}">{% endif %}
{%- endmacro %}