<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ localData.title or title }} | {{ meta.title }}</title>

    <meta name="author" content="{{ meta.author }}">
    <meta name="generator" content="eleventy">

    {% if env.production %}{% include "sw.njk" %}{% endif %}


    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% webpackAsset 'styles.css' %}" />
    {% block extrahead %}{% endblock %}
  </head>
  <body>
    <div class="container pt-2">
      <div class="flex justify-center bg-gray-200 px-4 py-3 rounded">
        <h1 class="font-semibold">
          <a class="never-underline" href="{{ '/' | url }}">{{ nav.title }}</a>
        </h1>
      </div>
      <nav class="leading-4 text-lg" id="nav-main">
        <a class="header-link font-medium pr-6 text-2xl" href="{{ '/' | url }}">Home</a>
        {% for link in nav.links %}
          {%- set headerUrl = link.url | url -%}
          {%- set headerClasses = ["header-link", "active" if headerUrl == page.url else ""] -%}
          {%- set headerClass = headerClasses | select() | join(" ") -%}
          <a href="{{ headerUrl }}" class="{{ headerClass }}">{{ link.text }}</a>
        {% endfor -%}
        <a href="{{ nav.github.url }}" class="header-link boxed-header-link ml-auto">
          {{ nav.github.text }}
        </a>
      </nav>
    </div>
    <div class="container">
      <main id="main" class="bg-blue-100 bg-opacity-75 pt-4 pb-6 border border-gray-600 min-h-screen">
        {% block content %}
        {{ content | safe }}
        {% endblock %}
      </main>
    </div>
    <div class="container pb-4">
      <footer class="footer">
        <div class="flex justify-center pb-2 w-full px-56">
          {% block footerprev %}{% endblock %}
          {% if page.url != "/" -%}
          <a class="footer-link" href="{{ '/' | url }}">Home</a>
          {%- else -%}
          <span class="footer-link invisible"></span>
          {%- endif %}
          {% block footernext %}{% endblock %}
        </div>

        <div class="flex justify-center w-full border-t border-gray-500 pt-1">
          <span class="mx-5 text-xs lg:inline-block lg:mt-0 lg:mx-0 tracking-tight"
            >&copy; Michael Van Wickle</span
          >
        </div>
        <div class="flex justify-center w-full border-gray-500">
          <span class="mx-5 text-xs lg:inline-block lg:mt-0 lg:mx-0 tracking-wide">v{{ pkg.version }}</span>
        </div>
      </footer>
    </div>
    <script type="module" src="{% webpackAsset 'main.js' %}"></script>
  </body>
</html>
