<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head -%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ localData.title or title }} | {{ meta.title }}</title>
    {%- if env.production %}{% include "sw.njk" %}{% endif %}
    {% include "icons.njk" -%}
    {% if env.production %}
    <script
      async
      defer
      data-website-id="6152f1a8-cf77-4797-90c7-dd565bfe1faf"
      src="https://analytics.wherewasigoing.com/umami.js"
    ></script>
    {% endif %}
    {%- if not env.production %}{% include "font_fallbacks.njk" %}{% endif %}
    {% block styles %}<link rel="stylesheet" href="{% webpackAsset 'styles.css' %}" />{% endblock %}
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="author" href="/humans.txt" />
    <meta name="author" content="{{ meta.author }}" />
    <meta name="generator" content="Eleventy" />
    <meta name="theme-color" content="{{ meta.theme_color }}" />
    {% if description %}<meta name="description" content="{{ description }}" />{% endif -%}
    {% if ld.type %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org"
    }
    </script>
    {% endif %}
    {% endblock %}
    {%- block extrahead %}{% endblock -%}
  </head>
  <body>
    {% include "header.njk" %}
    <div class="container pt-2">{% include "nav.njk" %}</div>
    <div class="container">
      <main id="main" >
        {% block content %}{{ content | safe }}{% endblock %}
      </main>
    </div>
    <div class="container pb-4">
      <footer class="footer">
        <div class="footer-row pb-2 px-56">
          {% block footernext %}{% endblock %} {% if page.url != "/" -%}
          <a class="footer-link" href="{{ '/' | url }}">Home</a>
          {%- else -%}
          <span class="footer-link invisible"></span>
          {%- endif %} {% block footerprev %}{% endblock %}
        </div>
        <div class="footer-row border-t border-gray-500 pt-1">
          <span class="footer-text tracking-tight">&copy; Michael Van Wickle</span>
        </div>
        <div class="footer-row border-gray-500">
          <code class="footer-text tracking-tight">v{{ pkg.version }}</code>
        </div>
      </footer>
    </div>
    {% block endofbody %}
    <script type="module" src="{% webpackAsset 'main.js' %}"></script>
    {% endblock %}
  </body>
</html>
