<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head -%}
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{ localData.title or title }} | {{ meta.title }}</title>
      {%- if env.production %}{% include "sw.njk" %}{% endif %}
      {% include "icons.njk" -%}
      {% block styles %}<link rel="stylesheet" href="{% webpackAsset 'styles.css' %}" />{% endblock %}
      <link rel="manifest" href="/manifest.webmanifest" />
      <link rel="author" href="/humans.txt" />
      {% block metadata %}
        <meta name="author" content="{{ meta.author }}" />
        {% if description -%}<meta name="description" content="{{ description }}" />{% endif %}
        <meta name="generator" content="Eleventy" />
        <meta name="theme-color" content="{{ meta.colors.theme }}" />
        {# {%- block ld -%}{% if ld.type -%}
          <script type="application/ld+json">
            {
              "@context": "https://schema.org"
            }
          </script>
        {%- endif %}{%- endblock %} #}
      {% endblock %}
    {% endblock %}
    {%- block extrahead %}{% endblock -%}
  </head>
  <body>
    <div class="wrapper">
      {% include "header.njk" %}
      {% include "nav.njk" %}
      <div>
        <main id="main">
          {% block content %}{{ content | safe }}{% endblock %}
        </main>
      </div>
      {% set footerClass = "footer flex flex-col pb-1 border border-t-0 rounded-b bg-gray-200 border-gray-600 font-extralight mb-4" %}
      <footer class="{{ footerClass }}">
        {%- set rowClass = "footer-row flex justify-center" -%}
        <div class="footer-row grid grid-cols-3 py-1 print:hidden">
          {% block footernext %}<span class="footer-link invisible"></span>{% endblock -%}
          {% if page.url != "/" -%}
            <a class="footer-link" href="{{ '/' | url }}">Home</a>
          {%- else -%}
            <span class="footer-link invisible"></span>
          {%- endif %}

          {%- block footerprev %}<span class="footer-link invisible"></span>{% endblock %}
        </div>
        <div class="{{ rowClass }} border-t border-gray-500 pt-1 print:border-t-0">
          <span class="footer-text tracking-tight">&copy; Michael Van Wickle</span>
        </div>
        <div class="{{ rowClass }} border-gray-500">
          <code class="footer-text tracking-tight">v{{ pkg.version }}</code>
        </div>
      </footer>
    </div>
    {% block endofbody %}
    <script type="module" src="{% webpackAsset 'main.js' %}"></script>
    {% endblock %}
  </body>
</html>
