{% extends "./default.njk" %}
{% from "macro_utils.njk" import footerlink %}

{% block content %}
  <header class="header post-header">
    <h2>{{ title }}</h2>
    <h3>{{ page.date | readableDate }}</h3>
    <!-- <small>{{ tags }}</small> -->
  </header>
  <article class="content">
    {{ content  | safe }}
  </article>
{% endblock %}

{%- block footerprev -%}
  {%- set prevPage = collections.published | getPreviousCollectionItem(page) -%}
  {{ footerlink(prevPage, "Previous") }}
{%- endblock -%}

{%- block footernext -%}
  {%- set nextPage = collections.published | getNextCollectionItem(page) -%}
  {{ footerlink(nextPage, "Next") }}
{%- endblock -%}