@layer base {
  .content {
    @apply px-3 w-full;
  }

  #main {
    @apply pt-4 pb-6;
    @apply border;
  }

  #main,
  #sidenav {
    @apply bg-blue-100 bg-opacity-75 border-gray-600;
  }

  .nav-container {
    @apply min-h-screen;

    display: grid;
    grid: [stack] 1fr / min-content [stack] 1fr;
  }

  .nav-container > * {
    grid-area: stack;
  }

  #sidenav {
    @apply border-t border-l border-b;

    display: grid;
    grid-template-columns: [nav] 2fr [escape] 1fr;
    visibility: hidden;
  }
  @screen sm {
    .nav-container > * {
      grid-area: auto;
    }

    #sidenav {
      visibility: visible;
    }
  }
}

@layer components {
  .content h4 {
    @apply text-indigo-700;
  }

  .content h5 {
    @apply ml-0;
  }
}

@layer utilities {
  var {
    @apply not-italic;
  }
  @media print {
    #main {
      /* @apply hidden; */
    }
  }
}
