---
title: Home
layout: default
description: A blog, which generally consists of posts that are lists of links, followed by thoughts on said links
---
<div class="px-4 pb-2">
  <h3 id="all-posts" class="pl-2">
    <a href="#all-posts">All Posts</a>
  </h3>

  {% include "posts_list.njk" %}
</div>
