---
layout: default
tags:
  - post
permalink: "blog/{{ page.date | linkDate }}/{{ title | slug }}/"
---
<header>
  <h1>{{ title }}</h1>
  <h3>{{ page.date | readableDate }}</h3>
</header>


{{ content | safe }}