.posts-list {
  @apply leading-tight;
}

.grid-posts-list {
  align-items: baseline;
  display: grid;
  gap: 0.33rem;
  grid-auto-rows: minmax(1.75em, auto);
  grid-template-columns: auto max-content auto 1fr;
  justify-content: baseline;
  justify-items: baseline;
  width: 100%;
}
