.posts-list {
  @apply leading-tight;
}

.grid-posts-list {
  align-items: center;
  display: inline-grid;
  grid-auto-rows: minmax(1.75em, auto);
  grid-template-columns: auto max-content auto 1fr;
  justify-content: center;
  justify-items: baseline;
  width: 100%;
}

.posts-list-sep {
  bottom: 1.5px;
  position: relative;
}
