---
title: Where was I Going With That?
layout: default
---

<div class="pl-4 pb-3">
  <h3 id="all-posts" class="pl-2">
    <a href="#all-posts">All Posts</a>
  </h3>

  {% include "posts_list.njk" %}
</div>
