---
title: What I'm Reading
date: Last Modified
description: Some things that I have been or currently am reading.
---
{% from "macro_utils.njk" import footsep %}

<section class="section">
  <span class="font-bold font-display">
    Last Modified: <time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
  </span>
</section>

<section class="section">
  <p>
    Here to help me keep track of what I'm reading/what I have read.
    This is in addition to the spreadsheet that I keep.
  </p>
</section>

<section class="section">
  {% for book in books | reverse %}
  <div class="pb-4">
    <div class="reading-book mb-4">
      <h4 class="book-title">{{ book.title }}</h4>
      <h5 class="book-author">{{ book.author }}</h5>
    </div>
    {% if book.comments %}{{ book.comments | markdownify | safe }}{% endif %}
    <hr>
  </div>
  {% endfor %}
</section>

{{ footsep() }}

<div class="w-full flex justify-center">
  <small>
    <a href="{{ '/assets/reading-schema.json' | url }}" target="_blank" type="application/schema+json">Schema</a>
  </small>
</div>