{% extends "./default.njk" %}
{% from "macro_utils.njk" import footerlink,linkSeq %}

{%- set prevPage = collections.published | getPreviousCollectionItem(page) -%}
{%- set nextPage = collections.published | getNextCollectionItem(page) -%}

{%- block extrahead -%}
{{ linkSeq(prevPage, "prev") }}
{{ linkSeq(nextPage, "next") }}
{%- endblock %}

{% block content %}
  <header class="header post-header">
    <h2>{{ title }}</h2>
    <h3>{{ page.date | readableDate }}</h3>
    <!-- <small>{{ tags }}</small> -->
  </header>
  <article class="content">
    {{ content  | safe }}
  </article>
{% endblock %}

{%- block footerprev -%}{{ footerlink(prevPage, "Older") }}{%- endblock -%}
{%- block footernext -%}{{ footerlink(nextPage, "Newer") }}{%- endblock -%}