---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - page
    - tagList
    - draft
  addAllPagesToCollections: true
permalink: /tags/{{ tag | lower }}/
eleventyComputed:
  title: Posts tagged “{{ tag }}”
---
{% from "posts_macro.njk" import postsList %}

{%- set taglist = collections[tag] | reverse %}
{{ postsList(taglist) }}

<ul class="list-inside text-lg leading-relaxed">
{%- for post in taglist %}
  <li class="text-blue-900 hover:text-blue-700">
    <a href="{{ post.url | url }}">{{ post.data.title }} (<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>)</a>
  </li>
{%- endfor %}
</ul>