---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - page
  addAllPagesToCollections: true
permalink: /tags/{{ tag | lower }}/
eleventyComputed:
  title: Posts tagged "{{ tag }}"
---
