<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="{% webpackAsset 'styles.css' %}" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="container">
      <div class="flex justify-center bg-gray-200 px-4 py-3 rounded">
        <h1 class="font-semibold">
          <a class="never-underline" href="/">Where Was I Going With That?</a>
        </h1>
      </div>
      <nav class="leading-4 text-lg" id="nav-main">
        <a class="header-link font-medium pr-6 text-2xl" href="/">
          Home
        </a>
        <a href="/reading/" class="header-link">
          Reading
        </a>
        <a href="/aboutme/" class="header-link">
          About Me
        </a>
        <a
          href="https://github.com/mvwicky"
          class="header-link boxed-header-link ml-auto"
        >
          Github
        </a>
      </nav>
    </div>
    <div class="container">
      <div class="bg-blue-100 py-6 border border-gray-600 min-h-screen">
        {{ content | safe }}
      </div>
    </div>
    <div class="container pb-4">
      <footer class="bg-gray-200 py-3 rounded-b border-b border-l border-r border-gray-600 flex justify-center">
        <a class="header-link mx-5 text-sm font-thin" href="/">Prev</a>
        <a class="header-link mx-5 text-sm font-thin" href="/">Home</a>
        <a class="header-link mx-5 text-sm font-thin" href="/">Next</a>
      </footer>
    </div>
    <script type="module" src="{% webpackAsset 'main.js' %}"></script>
  </body>
</html>
